<!DOCTYPE html>
<html>
<head> 
  <title> {{title}} </title>
</head>
<body>
   <h1>{{title}}</h1>
<div> 
    
      <p>UserID created: {{username}}  Password created: {{password}}</a></p> 
   
</div>
</body>
</html>